<h3 class="center">Prijava</h3>

<table class="center">
    <tr>
        <td>Korisnicko ime:</td>
        <td>
            <input type="text" name="korisnickoIme" [(ngModel)]="korisnickoIme">
        </td>
    </tr>

    <tr>
        <td>Lozinka:</td>
        <td>
            <input type="password" name="lozinka" [(ngModel)]="lozinka">
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <button (click)="prijava()">Prijava</button>
        </td>
    </tr>
</table>

<div class="center">
    <a routerLink="/registracija">Registruj se</a>
</div>
<span style="color: red;">{{poruka}}</span>